{% include 'main.html' %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/allstyle.css' %}">

<!-- for nice navbar -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<style>
    .arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
body{
    background-color: #f2f3f7;
}
</style>
{% block content %}
<body>
    <div class="card" style="margin: 50px;">
        <div class="card-body">
            <a href="{% url 'store' %}">
            <button type="button" class="btn btn-outline-primary">Continue shopping</button>
            </a>
            <hr>

            <div class="rows" style="display: flex; flex-direction: row; justify-content: space-between; margin: 10px;">
                    <div class="element">
                        Items : 
                    </div>
                    <div class="element">
                        Total : ₹{{order.get_cart_total}}
                    </div>
                    <div class="element">
                        <a href = "{% url 'checkout' %}">
                        <button type="button" class="btn btn-success">CHECKOUT</button>
                        </a>
                    </div>
            </div>
        </div>
      </div>

      <div class="card" style="margin: 40px;">
        <strong>
        <div class="card-body">
            <div class="rows" style="display: flex; flex-direction: row; justify-content: space-between; margin: 10px;">
                <div class="element">
                    &nbsp;
                </div>
                <div class="element">
                    Item
                </div>
                <div class="element">
                    Price
                </div>
                <div class="element">
                    Quantity
                </div>
                <div class="element">
                    Total
                </div>
            </div>
        </strong>
            <hr>

            {% for item in items %}
            <div class="rows" style="display: flex; flex-direction: row; justify-content: space-between; margin: 10px;">
                <div class="element">
                    <img src="{{item.product.imageURL}}" alt="img" height="150px" width="120px">
                </div>
                <div class="element">
                    {{item.product.item}}
                </div>
                <div class="element">
                    ₹{{item.product.price}}
                </div>
                <div class="element" style="display: flex; flex-direction:row;">
                    <div style="margin-right: 10px;">
                        {{item.quantity}}
                    </div>
                    <div class="icons" style="display: flex; flex-direction:column; margin-top: 3px;">
                        <i class="arrow up"></i>
                        <i class="arrow down"></i>
                    </div>
                </div>
                <div class="element">
                    ₹ {{item.get_total}}
                </div>
            </div>
            <hr>
            {% endfor %}
       </div>
      </div>
</body>
{% endblock content %}