{% include 'main.html' %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/allstyle.css' %}">
<!-- for nice navbar -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

{% block content %}
<body>
    <div class="class" style="display: flex; flex-direction:row; justify-content: space-around; margin-top: 50px;">
        <div class="card">
            <div class="card-body" style="padding-top: 30px;">
                <div class="inputs" style="display:flex; flex-direction:row; justify-content: space-between;">
                    <div class="name">
                        <input placeholder="Name">
                    </div>
                    &nbsp;
                    <div class="email">
                        <input placeholder="Email">
                    </div>
                </div>

                <hr>
                Shipping Information:
                <hr>
                <div class="inputss" style="display:flex; flex-direction:row; justify-content: space-between;">
                    <div class="address">
                        <input placeholder="Address">
                    </div>
                    &nbsp;
                    <div class="city">
                        <input placeholder="City">
                    </div>
                </div>
                <br>
                <div class="inputsss" style="display:flex; flex-direction:row; justify-content: space-between;">
                    <div class="state">
                        <input placeholder="State">
                    </div>
                    &nbsp;
                    <div class="code">
                        <input placeholder="Pincode">
                    </div>
                </div>
                <hr>
                <a href = "{% url 'store' %}">
                    <button type="submit" class="btn btn-success" style="display: block;
                    margin-left: auto;
                    margin-right: auto">CONTINUE</button>
                </a>
            </div>
          </div>
          <div class="card" style="width: 500px;">
            <div class="card-body" style="padding-top: 30px">
                <a href="{% url 'cart' %}">
                    <button type="button" class="btn btn-outline-primary">Back to Cart</button>
                </a>
                <hr>
                <h2>Order Summary</h2>
                {% for item in items %}
                <hr>
                <div class="rows" style="display: flex; flex-direction: row; justify-content: space-around; margin: 10px;">
                    <div class="element">
                        <img src="{{item.product.imageURL}}" alt="img" height="100px" width="80px">
                    </div>
                    <div class="element">
                        {{item.product.item}}
                    </div>
                    <div class="element">
                        x{{item.quantity}}
                    </div>
                    <div class="element">
                        ₹{{item.get_total}}
                    </div>
                </div>
                {% endfor %}
                <hr>

                <strong>Items : {order.get_cart_items} <br>
                Total : ₹{{order.get_cart_total}}
                </strong>
            </div>
          </div>
    </div>
</body>
{% endblock content %}