{% block footer %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/footer.css' %}">
<style>
    #sendbtn:hover{
  color: white;
  background-color: rgb(24, 93, 177);
}
</style>
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6" style="font-size:large">
                <h4><i class="fa fa-road"></i> FLOURISHH CO INC.</h4>
                <div class="row">
                    <div class="col-6">
                        <ul class="list-unstyled">
                            <li><a href="">Product</a></li>
                            <li><a href="">Benefits</a></li>
                            <li><a href="">Partners</a></li>
                            <li><a href="">Team</a></li>
                        </ul>
                    </div>
                    <div class="col-6">
                        <ul class="list-unstyled">
                            <li><a href="">Documentation</a></li>
                            <li><a href="">Support</a></li>
                            <li><a href="">Legal Terms</a></li>
                            <li><a href="">About</a></li>
                        </ul>
                    </div>
                </div>
                <ul class="nav">
                    <li class="nav-item"><a href="" class="nav-link pl-0"><i class="fa fa-facebook fa-lg"></i></a></li>
                    <li class="nav-item"><a href="" class="nav-link"><i class="fa fa-twitter fa-lg"></i></a></li>
                    <li class="nav-item"><a href="" class="nav-link"><i class="fa fa-github fa-lg"></i></a></li>
                    <li class="nav-item"><a href="" class="nav-link"><i class="fa fa-instagram fa-lg"></i></a></li>
                </ul>
                <br>
            </div>
            
            <div class="col-md-6">
                <h5 class="text-md-center">Contact Us</h5>
                <hr>
                <!-- <form method="POST">
                    {% csrf_token %}
                    <fieldset class="form-group">
                        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email" name="em">
                    </fieldset>
                    <fieldset class="form-group">
                        <textarea class="form-control" id="exampleMessage" placeholder="Message" name="msg"></textarea>
                    </fieldset>
                    {% if request.method == 'POST' %}
                    
                    <h5 style="color: rgb(26, 209, 53); display: flex; justify-content: center;">MESSAGE SENT!</h5>
                    {% endif %}
                    <fieldset class="form-group text-md-center">
                        <button type="submit" class="btn btn-secondary-outline-primary btn-lg" id="sendbtn">Send</button>
                    </fieldset>
                </form> -->

            </div>
        </div>
    </div>
</footer>
{% endblock %}
