{% load static %}
{% include 'main2.html' %}
<body>
  <div class="context">
    <div class="card">
    <h1>Login</h1>
<form method="POST" action="">
  {% csrf_token %}
  <input class="search-bar" name="username" type="text" placeholder="Username"><br>
  <input class="search-bar" name="password" type="password" placeholder="Password"><br>
  <!-- {% if messages %}
    <p style="color: red;">{{ message }}</p>
  {% endif %} -->
  <button type="submit" style="margin-left: 50px;">Log In</button>
</form><br>
Don't have an account? <a href="{% url 'register' %}" style="color: rgb(184, 236, 236);">Sign Up</a>
</div>
</div>
</body> 
</html>