{% load static %}
{% include 'main2.html' %}
<body>
  <div class="context">
    <div class="card">
    <h1>Login</h1>
<form method="POST" action="">
  {% csrf_token %}
  <input class="search-bar" name="username" type="text" placeholder="Username"><br>
  <input class="search-bar" name="password" type="password" placeholder="Password"><br>
  <button type="submit" style="margin-left: 50px;">Log In</button>
</form>
Don't have an account? <a href="{% url 'register' %}">Sign Up</a>
</div>
</div>
</body>
</html>