<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Assistant:wght@200&family=Caveat:wght@500&family=Crimson+Text:ital@1&family=Dancing+Script:wght@700&family=Moo+Lah+Lah&family=Orbitron&family=Playfair:opsz,wght@5..1200,300&display=swap" rel="stylesheet">


    <link rel="stylesheet" type="text/css" href="{% static 'css/allstyle.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link href=
"https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" 
          rel="stylesheet">
   
    <link rel="icon" href="{% static 'images/hanger.png' %}" sizes="16x16 32x32">

    <script type="text/javascript">
      var user = '{{request.user}}'

      function getToken(name){
        var cookieValue = null;
        if(document.cookie && document.cookie!= ''){
          var cookies = document.cookie.split(';');
          for(var i=0; i<cookies.length; i++){
            var cookie = cookies[i].trim();
            // does this cookie string begin with the name we want?
            if(cookie.substring(0, name.length+1)==(name + '=')){
              cookieValue = decodeURIComponent(cookie.substring(name.length+1));
              break;
            }
          }
        }
        return cookieValue;
      }
      var csrftoken = getToken('csrftoken');
    </script>

    <title>Flourishh</title>

    <style>
      /* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #606684; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #3f4560; 
}

.login-logout-btns{
  display: flex;
  flex-direction: row;
}

#login-btn{
  margin-right: 10px;
}
.status{
  color: rgb(192, 182, 154);
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

a:active{
  color: rgb(181, 154, 192);
}

.nav-link{
  color:aliceblue;
  font-family: Assistant,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
  letter-spacing: 2.5px;
}

.nav-link:hover{
  color:aliceblue;
}

    </style>
</head>
<body>
  {% block thiscontent %}
  <div>
    <nav class="navbar navbar-expand-lg" style="background-color: #292c2f;">
        <div class="container-fluid text-info">
            <h4 style="color: rgb(119, 234, 238); font-family: 'Caveat', cursive; font-size:x-large; padding-right: 25px;">Flourishh</h4>
            <button class="navbar-toggler"
                    data-bs-toggle="collapse"
                    data-bs-target="#gfgnavbar">
                <span class="navbar-toggler-icon">
                </span>
            </button>
            <div class="collapse navbar-collapse ps-3" 
                 id="gfgnavbar">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'store' %}">
                            STORE
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'cart' %}">
                            CART
                        </a>
                    </li>
                    {% if request.user.is_authenticated %}
                    <li class="nav-item">
                        <!-- <a class="nav-link" href="#"> -->
                          <div class="dropdown">    
                            
                              <a class="nav-link">
                                <a class="dropdown dropdown-toggle nav-link" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" style="color:aliceblue; font-family: Assistant,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;">
                                  SETTINGS
                              </a>
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                              <li>
                                <form method='post' action="#">
                                  {% csrf_token %}
                                <input type="submit" class="dropdown-item" name="view-profile" value="View Profile">
                                </form>
                              </li>
                              <li>
                                <form method='post' action="#">
                                  {% csrf_token %}
                                <input type="submit" class="dropdown-item" name="my-orders" value="My Orders">
                                </form>
                              </li>
                              <li>
                                <form method='post' action="/logout/">
                                  {% csrf_token %}
                                <input type="submit" class="dropdown-item" name="log-out" value="Logout">
                                </form>
                              </li>
                            </ul>
                          </div>
                        <!-- </a> -->
                    </li>
                    {% else %}
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'login' %}">
                        <span class="status" style="font-family: Assistant,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;">LOGIN</span>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'register' %}">
                        <span class="status" style="font-family: Assistant,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;">SIGNUP</span>
                      </a>
                    </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link">
                            {% if request.user.is_authenticated %}
                              <span class="status" style="font-family: Assistant,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;">HI {{request.user|upper}}</span>
                            {% endif %}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>

  {% endblock %}

  <!-- </nav> -->
<br><br>

<!-- CSS only -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<!-- JavaScript Bundle with Popper -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script type="text/javascript" src="{% static '/js/mycart.js' %}"></script>
<script src=
"https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js">
    </script>
</body>
</html>