{% include 'main.html' %}
{% load static %}
<!-- for nice navbar -->
<link rel="stylesheet" href="{% static 'css/product.css' %}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
{% block content %}
<body>

  <div class="card mb-3" style="max-width: 540px;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="{{product.imageURL}}" class="card-img" alt="...">
      </div>
      <div class="col-md-12">
        <div class="card-body">
          <h5 class="card-title">{{product.item}}</h5>
          <h5 class="card-title">
            {% if product.saleprice is NULL %}
              ₹{{product.price}}
            {% else %}
              <span style="text-decoration: line-through;">₹{{product.price}}</span>
              <span style="color: red;">₹{{product.saleprice}}</span>
            {% endif %}
          </h5>
          <h5>
            <button class="btn btn-outline-primary add-btn update-cart" data-action="add" data-id={{thing.id}}>Add to cart</button>
                <button class="btn btn-outline-danger add-btn update-wishlist" data-action="add" data-id={{thing.id}}>Wishlist</button>
          </h5>
          <p class="card-text"></p>
        </div>
      </div>
    </div>
  </div>
</body>
<!-- FOOTER  -->
{% endblock %}
