{% load static %}
{% include 'main2.html' %}
<style>
  .area{
    background: #a1d4f6;  
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);  
    width: 100%;
    height:100vh;
}
.card{
    background: #000822d0;
}
</style>

<body>
  <div class="context">
    <div class="card">
    <h1>Registration</h1>
<form method="POST" action="/register/">
  {% csrf_token %}
  <input class="search-bar" name="username" type="text" placeholder="Username"><br>
  <input class="search-bar" name="email" type="email" placeholder="Email id"><br>
  <input class="search-bar" name="password1" type="password" placeholder="Password"><br>
  <input class="search-bar" name="password2" type="password" placeholder="Password confirmation"><br>
  <button type="submit" style="margin-left: 50px;">Sign Up</button>
</form><br>
Already have an account? <a href="{% url 'login' %}" style="color: rgb(184, 236, 236);">Log In</a>
</div>
</div>
</body>
</html>