{% include 'main.html' %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/allstyle.css' %}">

<style>
  .searchfield{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
  #inputfield{
    width: 100%;
    height: 50px;
    border-radius: 30px;
    border: 1px solid #ccc;
    padding: 10px;
    font-size: 18px;
    background-color: #f2f3f7;
    padding-left: 5%;
    padding-right: 5%;
    margin-left: 10px;
    margin-right: 10px;
  }

  #s{
    border-radius: 50px;
    border: 1px solid #ccc;
    padding: 13px;
    font-size: 18px;
    background-color: #7890ef;
    padding-left: 5%;
    padding-right: 5%;
  }

  body{
    background-color: #f2f3f7;
  }


  /* @media (max-width:805px){
        body{
        background-color: #19234a;
      }

    } */
</style>

<body>
      <div class="filter-and-search" style="display: flex; flex-direction:row; justify-content:center; justify-content:space-evenly;">
        <form action="{% url 'searched_item' %}" method="GET">
      <div class="searchfield">
        <input type="text" id="inputfield" placeholder="Search here..." name="searchname" style="font-style:italic;">
        <button type="submit" class="btn btn-primary" id="s">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
          </svg>
        </button>
      </form>
      </div>
      

      <!-- Button trigger modal -->
        <!-- <button type="button" class="btn btn-info" data-toggle="modal" data-target="#exampleModalCenter">
        FILTER SEARCH
        </button> -->
      </div>
        <div class="row" style="margin:25px;justify-content: center;">
          {% for thing in things %}
            <div class="col-lg-3" style="background-color: #d9dbe4; border-radius: 12px; padding-top: 10px;padding-bottom: 10px; margin: 20px; justify-content: space-around;">
              <img class="card-img-top" src="{{thing.imageURL}}" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">{{thing.item}}</h5>
                <p class="card-text">₹{{thing.price}}</p>
                <button class="btn btn-outline-primary add-btn update-cart" data-action="add" data-thing={{thing.id}} onclick="myf()">Add to cart</button>
              </div>
              <div class="card-footer">
                <small class="text-muted">
                  {% if thing.availability is True %}
                    <strong style="color: green;">In stockk</strong>
                  {% else %}
                    <strong style="color: red;">Sold outt</strong>
                  {% endif %}
                </small>
              </div>
            </div>
          {% endfor %}
        </div>

        <!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Filter your Search!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      
      <div class="modal-body">
        <form method='GET' action="{% url 'products_by_gender' %}">
        Gender : <input type="checkbox" name="gendercheck" value="Female"> Women
                 <input type="checkbox" name="gendercheck" value="Male"> Men
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <input class="btn btn-primary" type="submit" value="Apply" name="Apply">
      </form>
      </div>

      <div class="modal-body">
        <form method='POST' action="{% url 'products_by_colours' %}">
        {% csrf_token %}
        Colour:
        {% for clr in colorz %}
        <input type="checkbox" name="color" value="{{clr}}"> {{clr}}
        {% endfor %}
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>     
        <input class="btn btn-primary" type="submit" value="Apply" name="Apply">
      </form>
      </div>

    </div>
  </div>
</div>

    </body>
