{% include 'main.html' %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/allstyle.css' %}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<body>
      <div class="filter-and-search" style="display: flex; flex-direction:row; justify-content:center; justify-content:space-evenly;">
        <form action="{% url 'searched_item' %}" method="GET">
      <div class="searchfield" style="width: 500px;">
        <input type="text" id="inputfield" placeholder="Search here..." name="searchname" style="font-style:italic;">
        <button type="submit" class="btn btn-primary" id="s">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
          </svg>
        </button>
      </form>
      </div>
      </div>
<br>
      <!--CAROUSEL (should be only on the home page)-->
      {% if request.path == '/' %} 
    <div class="container">
      <div id="myCarousel" class="carousel slide" data-ride="carousel" style="height: 500px;">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          {% for carousel in carousels %}
            {% if carousel.slide_number is 0 %}
            <li data-target="#myCarousel" data-slide-to="{{carousel.slide_number}}" class="active"></li>
            {% else %}
            <li data-target="#myCarousel" data-slide-to="{{carousel.slide_number}}"></li>
            {% endif %}
          {% endfor %}
        </ol>
    
        <!-- Wrapper for slides -->
        <div class="carousel-inner">
          
          {% for carousel in carousels %}
          {% if carousel.slide_number is 0 %}
          <div class="item active">
          {% else %}
          <div class="item">
          {% endif %}
          <form method="POST" action="{% url 'sales' %}" enctype="multipart/form-data">
            {% csrf_token %}
          <!-- <a href="{% url 'sales' %}"> -->
            <input type="submit" alt="{{carousel.title}}" style="width:100%; height: 500px; border-radius: 20px; background-image: url({{carousel.imageURL}});" value="{{carousel.id}}" name="car">
          <!-- </a> -->
        </form>
          </div>
          {% endfor %}
        </div>
    
        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev" style="border-radius: 20px;">
          <span class="glyphicon glyphicon-chevron-left"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next" style="border-radius: 20px;">
          <span class="glyphicon glyphicon-chevron-right"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
    {% endif %}

      <hr style="border: 0.2px solid rgb(184, 184, 233);">
      <nav class="navbar navbar-expand-lg">
        <div class="container-fluid text-success">
            <button class="navbar-toggler"
                    data-bs-toggle="collapse"
                    data-bs-target="#gfgnavbar">
                <span class="navbar-toggler-icon">
                </span>
            </button>
            <div class="collapse navbar-collapse ps-3" 
                 id="gfgnavbar">
                <ul class="navbar-nav">
                    <div class="nav-item">
                        <a class="nav-link" data-toggle="modal" data-target="#exampleModalCenter" style="color: #0000008C; cursor: pointer;">
                            Filter
                        </a>
                      </div>
                    <div class="dropdown">
                      <a class="dropdown dropdown-toggle nav-link" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" style="color: #0000008C">
                        Sort by
                      </a>
                      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li>
                          <form method='post' action="{% url 'sorted_products' %}">
                            {% csrf_token %}
                          <input type="submit" class="dropdown-item" name="sort" value="Price: High to Low">
                          </form>
                        </li>
                        <li>
                          <form method='post' action="{% url 'sorted_products' %}">
                            {% csrf_token %}
                          <input type="submit" class="dropdown-item" name="sort" value="Price: Low to High">
                          </form>
                        </li>
                        <li>
                          <form method='post' action="{% url 'sorted_products' %}">
                            {% csrf_token %}
                          <input type="submit" class="dropdown-item" name="sort" value="New Arrival">
                          </form>
                        </li>
                        <li>
                          <form method='post' action="{% url 'sorted_products' %}">
                            {% csrf_token %}
                          <input type="submit" class="dropdown-item" name="sort" value="Better Discount">
                          </form>
                        </li>
                        <li>
                          <form method='post' action="{% url 'sorted_products' %}">
                            {% csrf_token %}
                          <input type="submit" class="dropdown-item" name="sort" value="Rating">
                          </form>
                        </li>
                      </ul>
                    </div>
                </ul>
            </div>
        </div>
    </nav>
      <hr style="border: 0.2px solid rgb(184, 184, 233);">

      <!-- CARDS -->
        <div class="row" style="margin:25px;justify-content: center;">
          {% for thing in things %}

            <div class="col-lg-3" style="background-color: #d9dbe4; border-radius: 12px; padding-top: 10px;padding-bottom: 10px; margin: 20px; justify-content: space-around;">

              <form method="post" action="{% url 'product' thing.id %}">
                {% csrf_token %}
              <input type="image" class="card-img-top" src="{{thing.imageURL}}" alt="Card image cap">
              </form>

              <div class="card-body">
                <h5 class="card-title">{{thing.item}}</h5>
                <p class="card-text">
                  {% if thing.saleprice is NULL %}
                  ₹{{thing.price}}
                  {% else %}
                  <span style="text-decoration: line-through;">₹{{thing.price}}</span>
                  <span style="color: red;">₹{{thing.saleprice}}</span>
                  {% endif %}
                </p>
                <button class="btn btn-outline-primary add-btn update-cart" data-action="add" data-id={{thing.id}}>Add to cart</button>
                <button class="btn btn-outline-danger add-btn update-wishlist" data-action="add" data-id={{thing.id}}>Wishlist</button>
              </div>
              <div class="card-footer">
                <small class="text-muted">
                  {% if thing.availability is True %}
                    <strong style="color: green;">In stockk</strong>
                  {% else %}
                    <strong style="color: red;">Sold outt</strong>
                  {% endif %}
                </small>
              </div>
            </div>
          {% endfor %}
        </div>

        <!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Filter your Search!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      
      <div class="modal-body">
        <form method='GET' action="{% url 'products_by_gender' %}">
        Gender : <input type="checkbox" name="gendercheck" value="Female"> Women
                 <input type="checkbox" name="gendercheck" value="Male"> Men
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <input class="btn btn-primary" type="submit" value="Apply" name="Apply">
      </form>
      </div>

      <div class="modal-body">
        <form method='POST' action="{% url 'products_by_colours' %}">
        {% csrf_token %}
        Colour:
        {% for clr in colorz %}
        <input type="checkbox" name="color" value="{{clr}}"> {{clr}}
        {% endfor %}
      </div>
      <div class="modal-body">
        <form method='POST' action="{% url 'products_by_colours' %}">
        {% csrf_token %}
        Brand:
        <input type="checkbox" name="brand" value="{{brnd}}"> {{b}}
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>     
        <input class="btn btn-primary" type="submit" value="Apply" name="Apply">
      </form>
      </div>

    </div>
  </div>
</div>
<script type="text/javascript" src="{% static 'js/mycart.js' %}"></script>
    </body>
    {% include 'footer.html' %}